.contenido.contactenos{
	position: relative;
	width: 100%;
	height: 100%;
	
	.banner{
		position: relative;
		padding-top: @nav-height;
		.titulo{
			color: white;
			position: absolute;
			text-align: center;
			.posicionar(80%);
			top: 25%;
			
			span{
				font-size: 60px;
				.raleway();
				font-weight: bold;
				border-top: 5px solid @nosotros-color-box;
				padding-top: 20px;
			}
		}
		
		.divisor{
			.posicionar(67%);
			background: @azul;
			height: 5px;
			left: 0px;
			top: 40%;
		}
		
		.texto{
			color: white;
			font-size: 10px;
			text-align: justify;
			.posicionar(30%);
			top: 45%;
			.raleway();
		}
	}
	
	.formulario{
		background: @contactenos-formulario-background;
		position: relative;
		width: 100%;
		height: 100%;
		padding-bottom: 10%;
		padding-top: 10%;
		
		.contenedor{
			.posicionar(80%, 70%);
			top: 20%;
		}
		
		form{
			h1{
				color: @azul;
				padding-top: 0px;
				margin-top: 0px;
			}
			
			input, textarea{
				margin-bottom: 10px;
				padding-left: 30px;
				background: @contactenos-formulario-input-background;
				color: @contactenos-formulario-input-color;
				&::-webkit-input-placeholder { color: @contactenos-formulario-input-color}
				&:-moz-placeholder { color: @contactenos-formulario-input-color}
				&::-moz-placeholder { color: @contactenos-formulario-input-color}
				&:-ms-input-placeholder { color: @contactenos-formulario-input-color}
			}
			
			.iconos{
				margin-bottom: 30px;
			}
			
			.politicas{
				font-size: 12px;
				.btn{
					color: white;
					background: @azul;
					.bordeRedondo(0px);
					position: absolute;
					right: 12%;
				}
			}
		}
		
	}
}