
/* Portrait tablet to landscape and desktop */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max){}

/* Landscape phone to portrait tablet */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
 
/* Landscape phones and down */
@media (max-width: @screen-xs-max){
	.contenido.home{
		.banner{
			padding-top: 10px;
			height: 480px;
			background: url("../img/index/banner.png") #0f0f10;
			background-size: auto 350px;
			background-repeat: no-repeat;
			background-position: -130px top;
			
			.empresa{
				position: absolute;
				top: 100px;
				height: 100%;
				margin-bottom: 0px;
				width: 100%;
				
				.divisor{
					background: black;
					height: 4px;
					margin-top: 0%;
					border: none;
					width: 300px;
					left: 0px;
					top: 29%;
				}
				
				.btn{
					margin-top: 139px;
					padding-top: 0px;
					padding-bottom: 0px;
					left: 238px;
					right: auto;
				}
				
				h2{
					top: 0%;
					font-size: 20px;
					font-weight: normal;
					left: 20%;
				}
				
				.nombre{
					position: absolute;
					border-top: 4px solid black;
					padding-top: 23px;

					margin-top: 45px;
					width: 240px;
					left: 60px;
					top: 10px;
					
					img{
						width: 100%;
					}
				}
				
				.fondo{
					display: none;
				}
			}
			
			.galeriaBanner{
				width: 140px;
				position: absolute;
				top: 280px;
				right: 13%;
				
				.explicacion{
					position: absolute;
					top: 0%;
					width: 100%;
					left: 0%;
					
					.texto{
						position: absolute;
						top: 35%;
						left: 10%;
						width: 80%;
						height: 40%;
						text-align: center;
						font-size: 7px;
					}
				}
			}
			
		}
		
		.nosotros{
			height: 1450px;
			background: url("../img/index/nosotros.png") #0f0f10;
			background-size: auto 350px;
			background-repeat: no-repeat;
			background-position: center bottom;
			.fotos{
				width: 100%;
				margin: 0 auto;
	
				.lista{
					[indice]{
						img.fondo{
							height: auto;
						}
						
						font-size: 7px;
						
						.filtro{
							&.tap{
								background-image: url("../img/tap-icon.png");
							}
							
							background-repeat: no-repeat;
							background-position: center center;
						}
						
						&:hover .filtro{
							background-color: rgba(31, 31, 31, 0);
							background-image: none;
						}
					}
					
					[indice="1"]{
						top: 280px;
						left: 4%;
						.nosotros-box(27%, 110px, 40%);
					}
					
					[indice="2"]{
						top: 280px;
						left: 38%;
						.nosotros-box(27%, 100px, 40%);
					}
					
					[indice="3"]{
						top: 280px;
						left: 69%;
						.nosotros-box(30%, 120px, 40%);
					}
					
					[indice="4"]{
						.nosotros-box(50%, 210px, 40%);
						top: 600px;
						left: 4%;
					}
					
					[indice="5"]{
						.nosotros-box(35%, 85px, 30%);
						top: 680px;
						left: 58%;
					}
					
					[indice="6"]{
						.nosotros-box(30%, 70px, 30%);
						top: 600px;
						left: 58%;
					}
					
					[indice="7"]{
						top: 860px;
						left: 4%;
						.nosotros-box(90%, 350px);
						background: red;
						
						.anio2{
							padding: 10px 10px 10px 10px;
							top: 50%;
							left: 73.5%;
						}
						
						.texto{
							width: 92%;
							font-size: 14px;
							padding: 20px 10px 20px 10px;
							top: 65%;
							left: 4%;
						}
					}
					
					[indice="8"]{
						.nosotros-box(80%, 150px, 30%);
						left: 2%;
						top: 420px;
						padding: 20px 0 0 0;
						ul{
							padding-left: 20px;
							li{
								list-style-type: square;
								color: @nosotros-color-list;
								font-size: 18px;
								
								span{
									color: @nav-color;
									font-size: 19px;
								}
							}
						}
					}
					
					[indice="9"]{
						.nosotros-box(50%, 117px, 90%);
						top: 1250px;
						left: 4%;
						
						& a img.info{
							margin-left: 80%;
							margin-top: 40%;
						}
					}
					
					[indice="10"]{
						top: 1300px;
						left: 190px;
					}
					
					[indice="11"]{
						.nosotros-box(90%, 200px, 90%);
						.boxTextoIndex(3%, 0%);
					}
				}			
			}
		}
		
		.empresas{
			height: 550px;
			background: url("../img/index/empresas.png");
			background-size: auto auto;
			background-repeat: no-repeat;
			background-position: center bottom;

			.container{
				top: 5%;
				left: 0%;
				
				#listaLogos{
					margin-top: 200px;
				}
				
				.empresasLogo{
					div{
						max-width: 200px;
						height: 70%;
						line-height: 70px;
						vertical-align: middle;
						margin-right: 1px;
						margin-bottom: 1px;
						background: white;
					}
					
					img{
						width: 90%;
					}
				}
				
				.texto{
					position: absolute;
					.boxTextoIndex(90%, 10%);
				}
			}
			
			.btn{
				right: auto;
				left: 5%;
				margin-top: 10px;
			}
		}
		
		.noticias{
			height: 650px;
			background: url("../img/index/noticiasEventos.png");
			background-size: auto 650px;
			background-repeat: no-repeat;
			background-position: center bottom;
			
			position: relative;
			.tituloSeccion{
				width: 50%;
				text-align: left;
				line-height: 40px;
				margin-left: 10px;
			}
			
			.banda{
				top: 97.5%;
				height: 15px;
				line-height: 15px;
				font-size: 10px;
				
				a{
					.yanone();
					color: white;
				}
			}
			
			.listNews{
				width: 90%;
				height: 100%;
				max-width: 300px;
				position: absolute;
				left: 5%;
				top: 60px;
				
				.col-xs-12{
					margin-top: 80px;
				}
				
				.noticia{
					img{
						width: 100%;
					}
					
					.marco{
						width: 70%;
						left: 15%;
						height: 90%;
						top: 5%;
					}
					
					.datos{
						top: 85%;
						width: 100%;
						height: 70px;
						left: 0px;
						
						.fecha, .titulo{
							height: 100%;
						}
						
						.fecha{
							background: black;
							width: 20%;
							font-size: 12px;
							position: absolute;
							padding-top: 1%;
						}
						
						.titulo{
							width: 50%;
							font-size: 14px;
						}
						
						.btn{
							.bordeRedondo(0px);
							left: 65.5%;
							top: 100%;
							font-size: 14px;
							padding-left: 10px;
							padding-top: 2px;
							padding-bottom: 2px;
						}
					}
				}
			}
		}
		
		.galeria{
			height: 900px;
			div{
				&[index]{
					height: 200px;
					width: 50%;
					img.info{
						display: none;
					}
					
					& > img{
						width: 100%;
						height: 100%;
					}
							
					& .texto{
						position: absolute;
						top: 0px;
						width: 100%;
						height: 100%;
						padding: 0% 5% 5% 5%;
						color: @nosotros-color-anio;
						
						
						.separador{
							width: 10px;
							height: 2px;
							margin-bottom: 20px;
							margin-top: 20px;
						}
						
						.btn{
							.bordeRedondo(0px);
							width: 100px;
						}
					}
				}
				
				&[index="1"]{
					top:0%;
					left: 0%;
				}
				
				&[index="2"]{
					top: 0%;
					left: 50%;
				}
				
				&[index="3"]{
					top:500px;
					left: 0%;
				}
				
				&[index="4"]{
					top: 500px;
					left: 50%;
				}
				
				&[index="5"]{
					top:700px;
					left: 0%;
				}
				
				&[index="6"]{
					top: 700px;
					left: 50%;
				}
				
				&[index="7"]{
					top: 200px;
					height: 300px;
					left: 0%;
					width: 100%;
					
					img.info{
						right: 8%;
						top: 94%;
						margin: 0 0 0 0;
					}
					
					span.autor{
						top: 94%;
						right: 13%;
					}
				}
			}
		}		
	}
}