.contenido.nosotros{
	.banner{
		.divisor{
			width: 68%;
		}
		
		.texto{
			top: 55%;
			.posicionar(27%);
			.raleway();
			text-align: center;
			
			h1{
				font-weight: bold;
				font-size: 20px;
			}
			
			p{
				font-weight: 200;
			}
		}
	}

	text-align: center;
	background: url(@nosotros-bg-img) black no-repeat;
	
	.body{
		width: 70%;
		margin: 0 auto;
		
		& h1:first-child{
			width: 100%;
			.raleway();
			font-weight: bold;
			font-size: 50px;
			color: white;
			margin-top: 100px;
			margin-bottom: 70px;
		}
		
		.opaco{
			.opacidad(.5);
		}
		
		.izq{
			text-align: right;
			float: left;
			width: 50%;
			
			div{
				margin-right: 10px;
			}
			
			.imagenTexto, .texto{
				float: right;
			}
			
			.sinMargen{
				margin-left: 0px;
				margin-right: 0px;
				padding-left: 10px;
			}
			
			.informacion{
				margin-left: 5%;
				margin-right: 25%;
				margin-top: 10px;
				text-align: left;
			}
		}
		
		.der{
			float: left;
			width: 50%;
			text-align: left;
			
			[index] .grupoImagen{
				float: left;
			}
			
			.informacion{
				margin-left: 30%;
				margin-right: 10%;
				margin-top: 20px;
			}
			
			& > div{
				margin-left: 10px;
			}
			
			.imagenTexto, .texto{
				float: left;
			}
			
			.texto{
				padding-left: 30px;
			}
			
			.sinMargen{
				margin-left: 0px;
				margin-right: 0px;
				padding-left: 10px;
			}
			
			h1{
				padding-left: 30px;
			}
		}
	
		.borde{
			border-right: solid @nosotros-border-color 3px;
		}
		
		.border-top{
			border-top: solid @nosotros-border-color 3px;
		}
		
		.border-bottom{
			border-bottom: solid @nosotros-border-color 3px;
		}
		
		.texto{
			vertical-align: bottom;
			color: @color-texto;
			text-align: left;
			width: 70%;
			.raleway();
			font-size: 12px;
			
			margin-bottom: 10px;
			padding-right: 30px;
			padding-left: 60px;
			
			b{
				font-size: 18px;
			}
			
			ul{
				list-style: none;
				text-align: right;
				width: 380px;
				float: right;
				.raleway();
				
				li{
					b{
						color: @color-texto;
						font-size: 12px;
					}
					
					color: @nosotros-texto-color;
					border-bottom: @nosotros-ul-border-color 1px solid;
					padding-bottom: 10px;
					padding-top: 10px;
					
					&:last-child{
						border: none;
						padding-bottom: 0px;
					}
					
					&:first-child{
						padding-top: 0px;
					}
				}
			}
			
			h1{
				width: 100%;
			}
		}
		
		.imagenTexto{
			color: @color-texto;
			width: 100%;
			margin-bottom: 10px;
			position: relative;
			
			.informacion{
				.raleway();
				position: absolute;
				top: 10px;
				font-size: 10.5px;
			}
			
			.grupo{
				position: relative;
				display: inline-block;
				
				.mas{
					position: absolute;
					cursor: pointer;
					
					&.izquierda{
						top: 30px;
						left: 30px;
					}
					
					&.derecha{
						top: 20px;
						right: 20px;
					}
				}
			}
			
			
			.background{
				background: black;
				opacity: 0.9;
			}
			
			h1, h2{
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 10px;
				text-align: justify;
			}
			
			h1{
				font-size: 40px;
				.raleway();
			}
			
			h2{
				font-size: 20px;
				.khand();
				font-weight: 100;
			}
			
			.transparencia{
				opacity: 0.95;	
				background: black;
				z-index: 1000;
				position: absolute;
				height: 100%;
				top: 0px;
			}
			
			&.bottom{
				height: 100%;
				img{
					vertical-align: bottom;
					
					&.oscurecer{
						filter: brightness(60%);
					}
				}
			}
			
			&.top{
				height: 100%;
				img{
					vertical-align: top;
				}
			}
			
			img{					
				&.oscurecer{
					filter: brightness(20%);
					-webkit-brightness: 2;
				}
			}
		}
		
		[index]{
			div.grupoImagen{
				float:right;
				overflow: hidden;

				.filtro{
					//background: url("../img/tap-icon.png") no-repeat center center;
					background-color: rgba(0, 0, 0, 0.8);
					z-index: 1;
					position: absolute;
					
					&:hover{
						background: none;
						background-color: rgba(0, 0, 0, 0);
					}
				}
			}
		}
		
		[index="2"]{
			background: url(@bannerFondoNosotrosBG2);
			height: 200px;
			width: 350px;
			padding-top: 70px;
			
			h1{
				margin-top: 10px;
				margin-bottom: 0px;
			}
			
			h2{
				margin-top: 10px;
			}
		}
		
		[index="3"]{
			width: 400px;
			
		}
		
		[index="4"]{
			width: 400px;
			img:first-child{
				width: 100%;
			}
			
		}
		
		[index="5"], [index="6"]{
			width: 350px;
			img:first-child{
				width: 100%;
			}
		}
		
		[index="6"]{
			margin-bottom: 50px;
		}
		
		[index="7"]{
			width: 410px;
			padding-top: 20px;
		}
		
		[index="8"]{
			width: 350px;
			img:first-child{
				width: 100%;
			}
		}
		
		[index="9"]{
			width: 500px;
			.grupo{
				float: left;
				width: 250px;
				img:first-child{
					width: 100%;
				}
				
				margin-right: 10px;
			}
			
			.informacion{
				text-align: justify;
			}
			
			div.grupoImagen{
				margin-top: 40px;
			}
			
			div.grupoImagen, div.grupoImagen > div.filtro{
				float: left;
				width: 170px;
				height: 230px;
				img{
					width: 170px;
				}
			}
		}
		
		[index="10"]{
			width: 100%;
			h1{
				font-size: 27px;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
		
		[index="11"]{
			width: 410px;
			
			div.grupoImagen:last-child, div.grupoImagen:last-child > div.filtro{
				width: 120px;
				height: 120px;
				img{
					width: 120px;
				}
			}
			
			div.grupoImagen:first-child, div.grupoImagen:first-child > div.filtro{
				width: 190px;
				height: 240px;
				
				img{
					width: 190px;
				}
			}
			
		}
		
		[index="12"]{
			width: 380px;
			
			img:first-child{
				width: 100%;
			}
		}
		
		[index="13"]{
			margin-right: 0px;
			padding-left: 0px;
			padding-top: 0px;
			margin-top: 10px;
			width: 390px;
		}
		
		[index="14"]{
			width: 350px;
			div.grupoImagen:last-child, div.grupoImagen:last-child > div.filtro{
				width: 110px;
				height: 150px;
				
				img{
					width: 110px;
				}
			}
			
			div.grupoImagen:first-child, div.grupoImagen:first-child > div.filtro{
				width: 190px;
				height: 300px;
				
				img{
					width: 190px;
				}
			}
		}
		
		[index="15"]{
			width: 330px;
			img:first-child{
				width: 100%;
			}
			
			.informacion{
				width: 80%;
			}
		}
		
		[index="16"]{
			width: 260px;
			
			div.grupoImagen:first-child, div.grupoImagen:first-child > div.filtro{
				width: 255px;
				height: 150px;
				
				img{
					width: 255px;
				}
			}
			
		}
		
		[index="17"]{
			width: 400px;
			img:first-child{
				width: 100%;
			}
		}
		
		[index="18"]{
			width: 500px;
			
			div.grupoImagen:first-child, div.grupoImagen:first-child > div.filtro{
				width: 200px;
				height: 250px;
				
				img{
					width: 200px;
				}
			}
			
			div.grupoImagen:last-child{
				margin-left: 30px;
				margin-top: 40px;
			}
			
			div.grupoImagen:last-child, div.grupoImagen:last-child > div.filtro{
				width: 100px;
				height: 70px;
				img{
					width: 100px;
				}
			}
		}
		
		[index="19"]{
			width: 330px;
			
			div.grupoImagen, div.grupoImagen > div.filtro{
				width: 300px;
				height: 350px;
				
				img{
					width: 300px;
				}
			}
		}
		
		[index="20"]{
			width: 330px;
			h3{
				font-size: 18px;
			}
			img{
				width: 80%;
			}
		}
		
		[index="21"]{
			width: 380px;
			img:first-child{
				width: 100%;
			}
		}
		
		[index="22"]{
			width: 320px;
			img:first-child{
				width: 100%;
			}
		}
		
		[index="23"]{
			width: 330px;
			padding-left: 100px;
		}
		
		[index="24"]{
			h1{
				font-size: 25px;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
}