.contenido.noticias{
	position: relative;
	width: 100%;
	height: 100%;
	
	.breadcrumb{
		background: @noticias-migapan-bg;
		display: inline-block;
		color: #ced1d4;
		.bordeRedondo(0px);
		font-size: 12px;
		
		.raleway();
		
		a{
			color: #ced1d4;;
		}
		
		li:before {
			content: ">";
			padding-right: 5px;
			color: #232526;
		}
	}
	
	.newPrincipal{
		position: absolute;
		width: @noticias-contenido-width;
		left: (100% - @noticias-contenido-width) / 2;
		top: 25%;
		
		.img-noticia{
			width: 100%;
			position: absolute;
			
			img{
				width: 100%;
			}
			
			.marco{
				border: 1px solid black;
				width: 95%;
				height: 90%;
				position: absolute;
				top: 5%;
				left: 2.5%;
			}
			
			.descripcion{
				position: absolute;
				bottom: 5%;
				left: .7%;
				
				.raleway();
				
				
				
				ul{
					list-style: none;
					a{
						color: @color-texto;
					}
					
					.btn{
						background: @noticias-btn-bg;
						border: none;
						.bordeRedondo(0px);
						width: 55px;
						text-align: center;
						padding-top: 10px;
						margin-top: 2px;
						padding-left: 3px;
						
						.raleway();
						font-weight: 100;
						font-size: 9px;
						
						&:hover{
							color: black;
						}
					}
					
					.social{
						font-size: 12px;
						padding-left: 13px;
					}
				}
			}
			
			.fecha, .title{
				padding: 10px 10px 10px 10px;
				.yanone();
				color: @color-texto;
				font-weight: 100;
				position: absolute;
			}
			
			.fecha{
				text-align: center;
				bottom: 25.2%;
				left: 12.6%;
				background: @noticias-fecha-bg;
				width: 150px;
				font-size: 18px;
				margin-bottom: 1px;
			}
			
			.title{
				bottom: 6.8%;
				left: 12.6%;
				font-size: 48px;
				background: #000;
			}
		}
	}
	
	.news-contenido{
		position: relative;
		
		background: @noticias-bg;
		color: @noticias-contenido-color;
		width: 100%;
		text-align: center;
		z-index: -1;
		
		.textoNoticia{
			margin-top: 0 auto;
			width: @noticias-contenido-width;
			text-align: justify;
			margin-left: (100% - @noticias-contenido-width) / 2;
			padding: 100px 50px 50px 50px;
			background: white;
			.raleway();
			margin-bottom: 100px;
			.btn{
				background: @noticias-contenido-btn-bg;
				padding: 15px 25px 15px 25px;
				color: white;
				margin-top: 50px;
				.khand();
				.bordeRedondo(0px;);
				font-size: 18px;
				
				&:hover{
					color: black;
				}
			}
			
			hr{
				background: @noticias-contenido-color;
				height: 3px;
			}
			
			.comentarios{
				border: 0px;
				
				form{
					border: 0px;
				}
				
				.header{
					.total{
						font-weight: bold;
						font-size: 18px;
						font-family: helvetica;
					}
					
					.stars{
						text-align: right;
						padding-right: 0px;
						vertical-align: text-top;
						
						.start{
							padding: 0px 0px 0px 0px;
							margin: 0 0 0 0;
							color: black;
							float: right;
							
							&.dorada{
								color: @noticias-start-dorada;
							}
						}
						
						.punt{
							margin-left: 10px;
							background: url("../img/noticias/count.png") no-repeat;
							padding: 0px 3px 3px 3px;
							float: right;
							width: 30px;
							margin-right: 10px;
							text-align: center;
						}
					}
					
					margin-bottom: 30px;
				}
								
				.opciones{
					font-size: 10px;
					div{
						&.share{
							text-align: right;
							width: 160px;
							
							.fa-gear{
								margin-left: 20px;
							}
						}
						
						.complete{
							width: 300px;
						}
					}
				}

				span, div.share{
					padding: 15px 10px 10px 10px;
					border-bottom: 2px solid @noticias-start-count-bg;
					float: left;
					color: @noticias-start-count-bg;
					font-size: 12px;
					text-align: right;
					
					&.complete{
						width: 600px;
						position: absolute;
						bottom: 0px;
					}
					
					&.resaltar{
						font-weight: bold;
						color: @noticias-contenido-color;
						border-bottom-color: @noticias-contenido-color;
					}
				}
				
				.comentario{
					margin-top: 25px;
					margin-bottom: 40px;
					
					.titulo{
						font-weight: bold;
						font-family: helvetica;
						font-size: 13px;
						padding-left: 15px;
					}
					
					.comment{
						padding-left: 15px;
						font-family: helvetica;
						font-weight: normal;
					}
					
					small{
						color: @noticias-start-count-bg;
						margin-left: 50px;
						font-size: 8px;
					}
					
					.actions{
						color: @noticias-start-count-bg;
						padding-left: 15px;
						font-size: 12px;
						
						a{
							color: @noticias-start-count-bg;
						}
					}
				}
				
				.pie{
					margin-top: 20px;
					padding-left: 0px;
					margin-left: 0px;
					
					border: none;
					
					a{
						color: #a8b2b7;
						margin-right: 30px;
						padding-left: 0px;
					}
					
					.col-sm-9{
						padding-left: 0px;
					}
					
					.bg{
						background: url(@noticias-disqus) no-repeat 80%;
						width: 100%;
					}
				}
			}
		}
		
		.relacionadas{
			position: relative;
			top: 100%;
			
			.news{
				position: absolute;
				.noti{
					margin-top: 15%;
				}
				
				h1{
					position: absolute;
					text-align: center;
					.yanone();
					font-weight: 100;
					background: none;
					width: 100%;
					top: 9%;
					color: white;
				}
			}
		}
	}
}

.contenido.noticias2{
	width: 100%;
	height: 100%;

	background: white;
	.banner{
		position: relative;
		width: 100%;
		
		.divisor{
			width: 83%;
			max-width: 1420px;
		}
		
		.texto{
			.posicionar(46%);
			text-align: center;
		}
	}
	
	.body{
		position: relative;
		top: 93%;
		background: #f7f9fa;

		.fondo-noti{
			background: #f7f9fa;
			position: absolute;
			height: 1000px;
			width: 100%;
			top: 50px;
		}
		
		.noti{
			height: 460px;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	.news{
		position: relative;
	}
}

.cargarMasNoticias{
	background: black;
	color: @color-texto;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	
	a{
		color: white;
	}
}

.contenido.noticias2, .contenido.noticias{
	.body{
		width: 100%;
		top: -50px;
		
		.news{
			width: @noticias-contenido-width;
			left: (100% - @noticias-contenido-width) / 2;
		}
	}
	
	.noti{
		width: 49%;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		
		.contenedor{
			position: relative;
			width: 95%;
			margin-left: 2.5%;
		}
		
		.marco{
			border: 1px solid black;
			width: 90%;
			height: 90%;
			z-index: 1000;
			position: absolute;
			left: 5%;
			top: 5%;
		}
		
		.imagen-new{
			width: 100%;
			z-index: -1;
		}
		
		.datos{
			position: absolute;
			top: 85%;
			left: 10%;
			z-index: 1001;
			width: 72%;
			
			.fecha, .titulo{
				height: 80px;
				vertical-align: middle;
				float: left;
				padding-left: 25px;
				padding-top: 10px;
				color: #d4d7da;
			}
			
			.fecha{
				background: black;
				width: 30%;
				text-align: left;
				
				.yanone();
				font-weight: 100;
			}
			
			.titulo{
				background: @noticias-contenido-btn-bg;
				width: 70%;
				text-align: left;
				
				.raleway();
				font-weight: 100;
				font-size: 18px;
			}
			
			.btn{
				background: @azul;
				color: white;
				.bordeRedondo(0px);
				float: right;
				margin-top: 2px;
				width: 100px;
				
				.khand();
				font-weight: 100;
				
				&:hover{
					color: black;
				}
			}
		}
	}
}