.footer, .footer2{
	position: absolute;
	padding-bottom: 0px;
	overflow-x: hidden;
	width: 100%;
	height: 700px;
	overflow: hidden;
	background: white;
	
	
	.mapa{
		text-align: right;
		img{
			width: 130%;
			height: 510px;
		}
	}
	
	.localizacion{
		position: absolute;
		width: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		.ancla-arriba{
			position: absolute;
			top: 65%;
			left: 28%;
		}
		
		.float-left{
			float: left;
		}
		
		.col-i{
			width: 45%;
			margin-right: 2%;
		}
		
		.col-d{
			width: 45%;
			position: relative;
		}
		
		.ubicacion{
			border: 1px @pie-ubicacion-border-color solid;
			border-left: none;
			border-right: none;
			width: 70%;
			float: right;
			padding-top: 5%;
			padding-bottom: 5%;
			
			div{
				width: 50%;
				float: left;
			}
			
			p{
				padding-bottom: 20%;
			}
			
			.logo{
				padding-top: 7%;
				
				img{
					width: 80%;
				}
			}
			
			.btn{
				background: @azul;
				color: white;
				width: 100%;
				.bordeRedondo(0px);
			}
		}
	}
	
	.menu-footer{
		position: absolute;
		width: 100%;
		top: 65%;

		z-index: 1000;
		
		.iconos{
			width: 80%;
			margin-left: 10%;
			color: #dadbdb;
			text-align: center;
			.yanone();
			font-size: 14px;
			
			h1{
				font-size: 18px;
				margin-top: 12px;
				padding-bottom: 10px;
				border-bottom: 1px solid white;
				
				&.sinBorde{
					border: none;
				}
			}
			
			a{
				color: @color-texto;
			}
			
			.elemento{
				float: left;
			}

			.edificio{
				width: 200px;
				text-align: center;
				z-index: 100000;
			}
			
			.telefono, .email, .cerrar{
				img{
					margin-top: 20px;
				}
			}
			
			.politicas{
				padding-top: 10%;
				text-align: left;
				margin-right: 50px;
				
				ul{
					border-left: 1px solid @color-texto;
					list-style-type: square;
					color: @color-texto;
					.raleway();
					width: 180px;
					li{
						margin-bottom: 13px;
					}
				}
			}
			
			.email{
				margin-left: 10%;
				margin-right: 10%;
			}
		}
		
		.fondo{
			top: 26%;
			width: 100%;
			height: 100%;
			position: absolute;
			background: @pie-menu-bg;
			z-index: -1;
		}
	}
	
	.menu2-footer{
		width: 100%;
		background: @pie-menu2-bg;
		position: absolute;
		top: 94%;
		padding-top: 10px;
		padding-bottom: 10px;
		z-index: 2000000;
		
		.elementos{
			width: 80%;
			margin-left: 10%;
		
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				.khand();
				font-size: 18px;
				
				li{
					display: inline;
					float: left;
					padding-right: 20px;
					
					a{
						display: block;
						color: @pie-menu2-color;
					}
				}
			}
			
			span, img{
				float: right;
				color: @color-texto;
				margin-left: 20px;
			}
			
			img{
				margin-top: 5px;
			}
		}
	}
}

.footer2{
	display: none;
	padding-bottom: 0px;
	overflow-x: hidden;
	width: 100%;
	height: 240px;
	z-index: 1;
	
	.menu-footer{
		width: 100%;
		z-index: 1000;
		top: 0px;
		
		
		.fondo{
			top: 0px;
			z-index: -1;
		}
	}
	
	.menu2-footer{
		bottom: 0px;
		top: auto;
	}
}