@media (max-width: 480px) {
	nav{
		background: black;
		height: 50px;
		padding-top: 10px;
	}
	
	.collapse{
		background: black;
	}
	
	.nav{
		height: 100%;
		& li{
			display: block;
			font-size: 13px;
			width: 100%;
		}
	}
	
	.navbar{
		background: black;
		
		.navbar-brand{
			width: 100%;
		}
	}
	
	.navbar-brand{
		display: none;
	}
}