
/* Portrait tablet to landscape and desktop */
@media (min-width: @screen-sm-min) and (max-width: @screen-md-max){
	nav{
		background: black;
		padding-top: 10px;
	}
	
	.nav{
		height: 100%;
		& li{
			font-size: 11px;
		}
	}
	
	.navbar{
		.navbar-brand{
		}
	}
	
	.btnControlAcceso{
		height: @nav-height;
		
		&:hover{
			height: @nav-height;
		}
	}
}
 
/* Landscape phone to portrait tablet */

/* Landscape phones and down */
@media (max-width: @screen-xs-max){
	.navbar-header{
		.navbar-toggle{
			border: none;
			margin-top: -2px;
			
			span.icon-bar{
				background-color: white;	
				margin-top: 2px;
			}
		}
		
		color: white;
		text-align: right;
		.yanone();
		font-weight: bold;
		font-size: 18px;
		padding-top: 0px;
	}
	
	nav{
		background: black;
		height: 50px;
		padding-top: 10px;
		
		.navbar-nav{
			width: 60%;
			background: @pie-menu2-bg;
			z-index: 99999;
			float: right;
			.opacidad(1);
		}
		
		&.navbar-fixed-top .navbar-collapse{
			max-height: none;
		}
	}
	
	.collapse{
		background: black;
		height: 800px;
	}
	
	.nav{
		
		height: auto;
		font-size: 18px;
		
		&.navbar-left{
			& li{
				height: auto;
				font-size: 12px;
				
				& a{
					display: list-item;
					height: auto;
					vertical-align: middle;
					padding-left: 10px;
					padding-right: 10px;
				}
				
				&.redesSociales{
					border-left: solid 1px @nav-color;
				}
			}
		}
	}
	
	.navbar{
		.navbar-brand{
			width: 150px;
			margin-left: 5%;
		}
	}
	
	.ancla{
		position: absolute;
		left: 49%;
		top: 60%;
		display: none;
		
		img{
			width: 70%;
			min-width: 20px;
		}
		
		&.left{
			left: 5%;
			top: 69.5%;
			display: block;
		}
		
		&.right{
			left: 81%;
			top: 69.5%;
			display: block
		}
	}
	
	.banner{
		.titulo{
			.posicionar(80%);
			top: 37%;
			
			span{
				font-size: 25px;
				.raleway();
				font-weight: bold;
				border-top: 2px solid @nosotros-color-box;
				padding-top: 0px;
			}
		}
		
		.divisor{
			.posicionar(63%);
			height: 2px;
			left: 0px;
			top: 55%;
		}
		
		.texto{
			color: white;
			font-size: 8px;
			text-align: justify;
			.posicionar(43%);
			top: 50%;
			.raleway();
		}
	}

}