@import "../librerias/bootstrap-3.3.5/less/bootstrap.less";
@import "variables.less";
@import "funciones.less";

body{
	.yanone();
}

.nav{
	height: @nav-height;
	font-size: 18px;

	& li{
		height: @nav-height;
		
		& a{
			display: table-cell;
			height: @nav-height;
			vertical-align: middle;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		&.redesSociales{
			border-left: solid 1px @nav-color;
		}
	}
}

.navbar{
	z-index: 2000;
	.navbar-brand img{
		width: 80%;
	}
}

.btnControlAcceso{
	width: 170px;
	height: @nav-height;
	background: @login-background;
	
	&:hover{
		height: @nav-height;
	}
}

.bannerSecundario{
	.titulo{
		font-size: 60px;
		color: white;
		position: absolute;
		text-align: center;
		.posicionar(80%);
		top: 25%;
	}
	
	.divisor{
		.posicionar(80%);
		background: @azul;
		height: 5px;
		left: 0px;
		top: 43%;
	}
	
	.texto{
		color: white;
		font-size: 10px;
		text-align: center;
		.posicionar(40%);
		top: 50%
	}
}

.banner{
	position: relative;
	padding-top: @nav-height;
	.titulo{
		color: white;
		position: absolute;
		text-align: center;
		.posicionar(80%);
		top: 37%;
		
		span{
			font-size: 88px;
			.raleway();
			font-weight: bold;
			border-top: 5px solid @nosotros-color-box;
			padding-top: 0px;
		}
	}
	
	.divisor{
		.posicionar(67%);
		background: @azul;
		height: 5px;
		left: 0px;
		top: 53%;
	}
	
	.texto{
		color: white;
		font-size: 12px;
		text-align: justify;
		.posicionar(33%);
		top: 60%;
		.raleway();
	}
}

.ancla{
	position: absolute;
	left: 49%;
	top: 81%;
	
	img{
		width: 80%;
	}
	
	&.left{
		left: 5%;
		top: 61%;
	}
	
	&.right{
		left: 81%;
		top: 61%;
	}
}

img.fondo{
	width: 100%;
}

.btn{
	background: @azul;
	.bordeRedondo(0px);
	
	.yanone();
	font-weight: 100;
	color: #fff;
	
	&:hover{
		color: @pie-menu2-bg;
	}
}

@import "style-resp.less";
@import "index.less";
@import "index-resp.less";
@import "contactenos.less";
@import "galeria.less";
@import "normatividad.less";
@import "nosotros.less";
@import "noticias.less";
@import "oficinas.less";
@import "pie.less";

@import "modal.less";