@import "../librerias/bootstrap-3.3.5/less/bootstrap.less";
@import "variables.less";
@import "funciones.less";

nav{
	font-size: 10px;
}

.nav{
	height: 80px;

	& li{
		height: 80px;
		
		& a{
			display: table-cell;
			height: 80px;
			vertical-align: middle;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		&.redesSociales{
			border-left: solid 1px @nav-color;
		}
	}
}

.navbar{
	z-index: 2000;
}

.btnControlAcceso{
	width: 170px;
	background: @login-background;
}

.bannerSecundario{
	.titulo{
		font-size: 60px;
		color: white;
		position: absolute;
		text-align: center;
		.posicionar(80%);
		top: 20%;
	}
	
	.divisor{
		.posicionar(67%);
		background: @azul;
		height: 5px;
		left: 0px;
		top: 33%;
	}
	
	.texto{
		color: white;
		font-size: 10px;
		text-align: center;
		.posicionar(30%);
		top: 40%
	}
}

.ancla{
	position: absolute;
	left: 49%;
	bottom: 3%;
	
	img{
		width: 80%;
	}
	
	&.left{
		left: 5%;
		bottom: 30%;
	}
	
	&.right{
		left: 86%;
		bottom: 30%;
	}
}

img.fondo{
	width: 100%;
}

@import "index.less";
@import "contactenos.less";
@import "galeria.less";
@import "normatividad.less";
@import "nosotros.less";
@import "noticias.less";