@azul: #165dbe;
@color-texto: white;

@nav-color:             #777;
@login-background:      #000;

@autor-cuadro-background: #165dbe;
@autor-cuadro-link:		#FFF;

@head-titulo-color: @color-texto;

@nosotros-listaImagenes-heigth: 780px;
@nosotros-listaImagenes-width: 1037px;
@nosotros-color-list: @azul;
@nosotros-color-box: #0d0d0d;
@nosotros-color-anio: @color-texto;
@noticias-background: #525252;

@galeria-texto-background: #165dbe;

/*contactenos*/
@contactenos-formulario-background: #ebeaea;
@contactenos-formulario-input-background: #6a6e71;
@contactenos-formulario-input-color: white;

/*Galeria*/
@galeria-item-background: black;

/*Normatividad*/
@normatividad-menu-background: #6a6e71;
@normatividad-titulo-border: #e1e1e1;
@normatividad-texto-color: #6a6e71;
@normatividad-border-color: #e5e5e5;

/*Nosotros*/
@nosotros-bg-img: "../img/nosotros/background.jpg";
@nosotros-texto-color: #808386;
@nosotros-ul-border-color: #999999;