@azul: #165dbe;
@color-texto: white;

@nav-color:             #777;
@nav-height: 60px;
@login-background:      #000;

@autor-cuadro-background: "../img/index/bgAutor.png";
@autor-cuadro-link:		#FFF;

@head-titulo-color: @color-texto;

@nosotros-listaImagenes-heigth: 780px;
@nosotros-listaImagenes-width: 1037px;
@nosotros-color-list: @azul;
@nosotros-color-box: #8b8c8e;
@nosotros-color-anio: @color-texto;
@noticias-background: #525252;

@galeria-texto-background: #165dbe;

/*contactenos*/
@contactenos-formulario-background: #ebeaea;
@contactenos-formulario-input-background: #6a6e71;
@contactenos-formulario-input-color: #efefef;

/*Galeria*/
@galeria-item-background: black;

/*Normatividad*/
@normatividad-menu-background: #6a6e71;
@normatividad-titulo-border: #e1e1e1;
@normatividad-texto-color: #6a6e71;
@normatividad-border-color: #e5e5e5;

/*Nosotros*/
@nosotros-bg-img: "../img/nosotros/background.jpg";
@nosotros-texto-color: #808386;
@nosotros-ul-border-color: #999999;

/*Noticias*/
@noticias-migapan-bg: #6a6e71;
@noticias-btn-bg: #165dbe;
@noticias-fecha-bg: #393c3f;
@noticias-bg: #f7f9fa;
@noticias-contenido-color: #6a6e71;
@noticias-contenido-width: 60%;
@noticias-contenido-btn-bg: #393c3f;
@noticias-start-count-bg: #eaeef0;
@noticias-start-dorada: #ffc100;
@noticias-disqus: "../img/noticias/disqus.png";

/*Oficinas*/
@oficinas-texto-background: #6a6e71;

/*Pie de pagina*/
@pie-ubicacion-border-color: #e0e0e0;
@pie-menu-bg: #212222;
@pie-menu2-bg: #313233;
@pie-menu2-color: #6a6f75;
@pie-mapa: "../img/pie/mapa.jpg";